.banner {
  position: relative;
  display: block;
  height: 416px;
  background-image: url(@/assets/bcq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  contain: content;

  &-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 36px;
    top: 177px;
    left: 261px;
    color: #ffffff;
    font-size: 74px;
    font-family: poppins;
    & span {
      font-family: monsterClubhouse;
      font-size: 67px;
    }
  }
}
