@use '@/styles/variables.scss' as *;

.navbar {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  height: 69px;
  padding: 0 80px 0 70px;
  box-shadow: $box-shadow;

  &-branch {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    font-size: 40px;
    color: $font-primary-color;
    letter-spacing: 1.4px;
    & span {
      & > span {
        font-family: poppins;
        font-size: 30px;
        color: $font-secondary-color;
      }
    }
  }

  &-items {
    font-family: poppins;
    display: flex;
    flex-shrink: 1;
    justify-content: end;
    gap: 30px;

    & a {
      text-decoration: none;
      font-size: 13px;
      color: $font-primary-color;
      transition: 0.2s;

      &.active {
        color: $font-secondary-color;
        font-weight: 100;
      }

      &:hover {
        color: $font-secondary-color;
      }
    }
  }
}
